altgraph==0.17.4
Brotli==1.0.9
certifi==2025.1.31
charset-normalizer==3.3.2
idna==3.7
inflate64==1.0.1
multivolumefile==0.2.3
packaging==24.2
pefile==2023.2.7
pip==25.0
psutil==7.0.0
py7zr==0.22.0
pybcj==1.0.3
pycryptodomex==3.22.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
pyppmd==1.1.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PySocks==1.7.1
pywin32-ctypes==0.2.3
pyzstd==0.16.2
rarfile==4.2
requests==2.32.3
setuptools==75.8.0
texttable==1.7.0
urllib3==2.3.0
wheel==0.45.1
win-inet-pton==1.1.0
